<ion-view view-title="咨询" hide-back-button="true">

  <ion-content style="bottom:48px">
    <style>
      .button-bar .button {
        font-size:14px;
        line-height: 36px;
        min-height: 36px;
      }
    </style>
    <div class="button-bar" style="font-size:14px">
      <a class="button {{(type == 'DS')?'active':''}}" ng-click="setType('DS')">我的</a>
      <a class="button {{(type == 'DU')?'active':''}}" ng-click="setType('DU')">待回复</a>
      <a class="button {{(type == 'DR')?'active':''}}" ng-click="setType('DR')">已回复</a>
      <a class="button {{(type == 'DD')&&'active'||''}}" ng-click="setType('DD')">科室</a>
    </div>
    
    <ion-list>

      <ion-item class="item-avatar item-icon-right" ng-repeat="consult in consults" type="item-text-wrap" ui-sref="consults_detail({consultId:consult.consultId})" >
        <img src="img/avatar.jpg">
        <div class="row" style="padding:0px">
          <div class="col" style="padding:0px"><span>{{consult.patName}}</span>&nbsp;&nbsp;<span class="gray-9 small">{{consult.consultTime | date: "MM-dd hh:mm"}}</span></div>
          <div class="col tr" style="padding:0px"><span class="gray-9 small">0回复</span></div>
        </div>
        <p class="" style="padding-top:10px; white-space:normal">{{consult.consultContent}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <!-- <img src="img/flower.jpg"> -->
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>