<ion-view view-title="患者">
  <ion-content>

      <a class="item item-icon-left" ui-sref="tab.patients_request">
        <img class="icon padding" src="img/new_patient.png"> &nbsp;&nbsp;新的患者请求
      </a>

      <a class="item item-icon-left" href="#">
        <img class="icon padding" src="img/check_group.png"> &nbsp;&nbsp;分组查看
      </a>

      <ion-item class="item-divider">
        星标患者
      </ion-item>
      <ion-list >
        <a class="item item-icon-left" ui-sref="tab.patients_detail" ng-repeat="patient in patients|filter:{'star':'1'}|orderBy:'dpid':false" >
          <img class="icon padding" ng-src="{{patient.faceUrl}}"> &nbsp;{{patient.hzxm}}&nbsp;{{patient.dpid}}岁
        </a>
      </ion-list>

      <ion-item class="item-divider">
        普通患者
      </ion-item>
      <ion-list>
        <a class="item item-icon-left"  ng-repeat="patient in patients|filter:{'star':'0'}|orderBy:'dpid':false" href="#">
          <img class="icon padding" ng-src="{{patient.faceUrl}}"> &nbsp;{{patient.hzxm}}&nbsp;{{patient.dpid}}岁
        </a>
      </ion-list>
    
  </ion-content>
</ion-view>