<ion-view view-title="请求详情" style="background-color:#eee">

  <ion-content>

    <a class="item item-avatar" href="#">
      <img src="img/avatar.jpg">
      <h2>张三&nbsp;20岁</h2>
      <p>浙江省杭州市</p>
    </a>

    <div class="item" style="margin-top:20px" >
      <h2 style="color:#666">
        <b>上次就诊</b>：2012年11月12日 周三上午
      </h2 >
      <h2 style="margin-top:10px; color:#666">
        <b>主　　诉</b>：牙龈出血
      </h2 >
    </div>

    <div class="padding" style="margin-top:10px">
      <button class="button button-block button-balanced" ng-click="doLogin()">
        接受该患者
      </button>
      <button class="button button-block button-assertive" ng-click="doLogin()">
        拒绝该患者
      </button>
    </div>
  
    
  </ion-content>
</ion-view>