/* Empty. Add your own CSS if you like */

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.vm {
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.gray-c {
  color: #cccccc
}

.gray-9 {
  color: #999999
}

.gray-4 {
  color: #444444
}

.small {
  font-size: 14px
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}